/* You can add global styles to this file, and also import other style files */
body {
    /* background-image: linear-gradient( 90deg, red, orange, aqua, black); */
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex.stretch {
    align-items: stretch;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
    transition: color .5s ease 0s;
}

a:hover {
    color: #b52e31;
}

img {
    width: 100%;
}

.third {
    width: 28%;
}

app-sidenav {
    width: 25%;
    background-color: #efefef;
    border-radius: .554em; 
}

app-products {
    width: 75%;
    background-color: #efefef;
    border-radius: .554em;
    margin-left: .8em;
    padding: 0 2%;
}

